
body {
background-image: url("http://i1071.photobucket.com/albums/u518/xHayleyHeart/cool-tardis-wallpaper-movie-images-tardis-wallpaper_zps6dfb43f7.jpg");
background-repeat: no-repeat;
background-position: center;
}
.menugroup .button {
background: #46468c;
}
.menugroup {
background: #8080ff);
text-align: center;
}
.button:hover {
background: #4876FF;
}

